.grid{
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 360px;
  border: 1px black solid;
}

.grid div{
  width: 60px;
  height: 60px;
}

.player-one{
  background-color: aquamarine;
  border-radius: 10px;
}

.player-two{
  background-color: mediumpurple;
  border-radius: 10px;
}
